{{>index}}
<section id="dadosIngressos" style="display: none;">{{dadosIngressos}}</section>
<section id="dadosAtivos" style="display: none;">{{dadosAtivos}}</section>
<section id="dadosIntegralizacoes" style="display: none;">{{dadosIntegralizacoes}}</section>
<section id="dadosTrancamentos" style="display: none;">{{dadosTrancamentos}}</section>
<section id="dadosCancelamentos" style="display: none;">{{dadosCancelamentos}}</section>

<link rel="stylesheet" href="css/graficos/style.css">
<script src="js/graficos_ier/grafico_1.js"></script>
<script src="js/graficos_ier/grafico_2.js"></script>
<script src="js/graficos_ier/grafico_3.js"></script>
<script src="js/graficos_ier/grafico_4.js"></script>
<script src="js/graficos_ier/grafico_5.js"></script>

<div class="home_content">
  <div class="content">
    <div class="text"><h3>Ingressos, egressos e retenções</h3></div>
    <br>
    <div class="text">
      <section class="flex-container">
        <div id="curve_chart_1" class="graficos" style="width: 678px; height: 300px"></div>
        <div id="curve_chart_2" class="graficos" style="width: 678px; height: 300px"></div>
        <div id="curve_chart_3" class="graficos" style="width: 678px; height: 300px"></div>
        <div id="curve_chart_4" class="graficos" style="width: 678px; height: 300px"></div>
        <div id="curve_chart_5" class="graficos" style="width: 678px; height: 300px"></div>
      </section>
    </div>
  </div>
</div>
