{{>index}}

<script>
  var dadosDiscentes = {{{dadosDiscentes}}};
  var dadosRepRelatMedia = {{{dadosRepRelatMedia}}};
  var dadosRepAbsMedia = {{{dadosRepAbsMedia}}};
  var dadosRepFalta = {{{dadosRepFalta}}};
  var dadosRepMediaFalta = {{{dadosRepMediaFalta}}};
  var dadosCancelamentos = {{{dadosCancelamentos}}};
  var dadosInsucessos = {{{dadosInsucessos}}};
</script>

<link rel="stylesheet" href="css/graficos/style.css">
<script src="js/graficos_insucessos/grafico_1.js"></script>
<script src="js/graficos_insucessos/grafico_2.js"></script>
<script src="js/graficos_insucessos/grafico_3.js"></script>
<script src="js/graficos_insucessos/grafico_4.js"></script>
<script src="js/graficos_insucessos/grafico_5.js"></script>
<script src="js/graficos_insucessos/grafico_6.js"></script>
<script src="js/graficos_insucessos/grafico_7.js"></script>

<div class="home_content">
  <div class="content">
    <div id="titulo" class="text"><h3>Insucessos de alunos</h3></div>
    <br>
    <div id="area-charts" class="text">
      {{>consultar_turmas}}
      <section id="general-info" class="flex-container">
        <div id="top_x_div_1" class="graficos" style="width: 1220px; height: 300px"></div>
        <div id="top_x_div_2" class="graficos" style="width: 1220px; height: 300px;"></div>
        <div id="top_x_div_3" class="graficos" style="width: 1220px; height: 300px"></div>
        <div id="top_x_div_4" class="graficos" style="width: 1220px; height: 300px"></div>
        <div id="top_x_div_5" class="graficos" style="width: 1220px; height: 300px"></div>
        <div id="top_x_div_6" class="graficos" style="width: 1220px; height: 300px"></div>
        <div id="top_x_div_7" class="graficos" style="width: 1220px; height: 300px"></div>
      </section>
    </div>
  </div>
</div>

<form action="/consultar-disciplina" method="POST">
  <input id="nome-disciplina" type="text" name="nome_disciplina" style="display: none;">
  <button id="submit-disciplina" type="submit" style="display: none;"></button>
</form>